@font-face {
   font-family: '경기천년바탕_Regular';
   font-display: swap;
   src: url('file:///C:/Users/USER/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-07-04_173657/fonts/%EA%B2%BD%EA%B8%B0%EC%B2%9C%EB%85%84%EB%B0%94%ED%83%95_Regular/font.ttf');
}
